/* AddStock.css */
.add-stock-container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ebf9ff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, select, button {
    padding: 10px;
    margin-top: 5px;
    border-radius: 30px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .button_ishan{
    background-color: #1cd0c7;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
  }
  
  button:hover {
    background-color: #154768;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  hr {
    margin: 20px 0;
    border: 0.5px solid #ddd;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  